<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dubblog</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/entry.css">
</head>
<body>
    <span style="display: flex; width: 100%; justify-content: center ;">
        <img src="/images/ddTitle.png" alt="DUBDUB" style="width: 60%;">
    </span>
    <p style="color:lightgrey; margin-left: 40px; margin-bottom: 40px;">Welcome to the offial Dub Dub dev blog website.</p>
    <h1 style="color: green;">Updates:</h1>
    <ul id="entries">
    {{{entries}}}
    </ul>
</body>
</html>