<h2 style="margin-bottom: 0;">Changes:</h2>
<ul>
    <li>Changed: AI will are smarter and have more states</li>
    <li>Added: Pause menu.</li>
    <li>Added: Pettings menu.</li>
    <li>Added: AI now drop ammo when killed.</li>
    <li>Added: Player can now die and thier position will be reset.</li>
    <li>Added: Phuzi</li>
    <li>Changed: Gun now have random recoil.</li>
    <li>Changed: Gun recoil has been moved to a Vector array system from an animation curve system.</li> 
    <li>Removed: Recoil return sytem. Never could get it to work correctly</li>
    <li>Fixed: Player would get stuck on edges unable to jump.</li>
</ul>