<div>
    <img src="/images/phuhziIcon.png" alt="phuhzi">
</div>
<h2 style="margin-bottom: 0;">Changes:</h2>
<ul class="entry-changes">
    <li>Changed: AI are smarter and have more states</li>
    <li>Added: Pause menu.</li>
    <li>Added: Pettings menu.</li>
    <li>Added: AI now drop ammo when killed.</li>
    <li>Added: Player can now die and thier position will be reset.</li>
    <li>Added: Phuhzi.</li>
    <li>Added: Random recoil.</li>
    <li>Changed: Gun recoil has been moved to a Vector array system from an animation curve system.</li> 
    <li>Removed: Recoil return system. It never worked correctly.</li>
    <li>Fixed: Player getting stuck on edges unable to jump.</li>
</ul>